%input{
  font-family: $fontPlutoRegular;
  font-size: 12px;
  height: 32px;
  width: 100%;
  padding: 3px 10px 3px 10px;
  border: 1px solid $borderLayer2;
  @include border-radius(5px);
  @include transition(0.3s);
  outline: none;

}

.input{
  @extend %input;

  &::placeholder{
    color: $cTextBlock;
  }

  &:active{
    border: 1px solid $institutionalColor-primary;
  }

  &:focus{
    border: 1px solid $institutionalColor-primary;
  }

  &:hover{
    border: 1px solid $institutionalColor-primary;
  }

  &[disabled]{
    color: $cTextBlock;
    background-color:$backgroundLayer3;
    border: 1px solid $borderLayer2;
  }

  &.error{
    border: 1px solid $error;


    &::placeholder {
      color: $error;
    }

  }

  &.success{
    border: 1px solid $success;

    &::placeholder {
      color: $success;
    }

  }

  //Apenas para exemplo, não usar na versão final
  &.item-focus{
    border: 1px solid $institutionalColor-primary;
  }

}

//COMPNENTE DE EXIBIÇÃO
.input-item{
  padding: 0 5px 0 5px;

  label {
    display: block;
    font-family: $fontPlutoLight;
    margin-bottom: 7px;

  }

}

