//Cor Branca
$colorDefault: #fff;

// Cores institucionais
  $institutionalColor-primary:    #006072;
  $institutionalColor-segundary:  #008996;

// Cores Universo Saude
  $universeHealth-primary:        #008996;
  $universeHealth-segundary:      #006072;

// Universo Infantil
  $universeChildren-primary:      #13bbb4;
  $universeChildren-segundary:    #13bbb4;

// Universo Beleza e Saude
  $universeBeauty-primary:        #a476a5;
  $universeBeauty-segundary:      #7c4182;

// Universo Beleza e Maquiagem
  $universeMakeup-primary:        #480e67;
  $universeMakeup-segundary:      #7a0b96;

// Universo Cuidados Diarios
  $universeCare-primary:          #ffffff;
  $universeCare-segundary:        #008996;


 //**********  CORES CROSS  **********//

  //Erro
    $error:        #d5293f;

  //Sucesso
    $success:      #00ae41;

  //Alerta
    $warning:      #ff9e1a;

  //Destaque
    $featured:     #af1d3e;

  //LMPM
    $lmpm:         #d55e00;

  //Sua Oferta
    $youOffer:     #f16177;

  //PBM
    $pbm:          #f5be0b;

  //Oferta
    $offer:        #1dc1dd;

  //Frete Grátis
    $freeShipping: #bed62f;

//**********  CAMADA 1  **********//

  //Titulo
    $cTitle:            #434242;

  //Texto
    $cText:             #656565;

  //Texto Bloqueado
    $cTextBlock:        #b0b0b0;

  //Fundo
    $backgroundLayer1:  #fff;

  //Divisores
    $dividerLayer1:     #d0d0d0;

//**********  CAMADA 2  **********//

  //Bordas
    $borderLayer2:    #ebebeb;

  //Fundo
    $backgroundLayer2:#fafafa;

  //Divisores
    $dividerLayer2:   #d0d0d0;

//**********  CAMADA 3  **********//

  //Fundo
    $backgroundLayer3:#ececec;

  //Bordas
    $borderLayer3:    #dfdfdf;

  //Divisores
    $dividerLayer3:   #d0d0d0;

