@font-face {
    font-family: 'PlutoThin';
    src: url('../fonts/PlutoSansThin.ttf');
}

@font-face {
    font-family: 'PlutoLight';
    src: url('../fonts/PlutoSansLight.ttf');
}

@font-face {
    font-family: 'PlutoRegular';
    src: url('../fonts/PlutoSansRegular.ttf');
}

@font-face {
    font-family: 'PlutoMedium';
    src: url('../fonts/PlutoSansMedium.ttf');
}

@font-face {
    font-family: 'PlutoBold';
    src: url('../fonts/PlutoSansBold.ttf');
}