//Cores
$bg-default:   #fff; 
$bg-primary:   #480e67; 
$bg-segundary: #7c4182;

$color-primary:   #434242; 
$color-segundary: #29754D;
$color-tertiary:  #a2a2a2;

$font-size-title:       1.5rem;
$font-size-little:      11px; 
$font-size-small:       14px; 
$font-size-medium:      16px;
$font-size-large:       19px; 
$font-size-big-large:   25px; 

//Fontes
$fontPlutoThin:     'PlutoThin';
$fontPlutoLight:    'PlutoLight';
$fontPlutoMedium:   'PlutoMedium';
$fontPlutoRegular:  'PlutoRegular';
$fontPlutoBold:     'PlutoBold';


